:root {
  /* Main site colors */
  --primary: white;
  --secondary: #e9896a;
  --blue: #343f56;
  --green: #387c6d;
  --alternate: #181818;
  --light: #e6ecf8;
}

@media (min-width: 450px) {
  .about-container {
    padding: 0.75rem;
    text-align: center !important;
  }
  .footer-icon {
    width: 50px !important;
    height: 50px !important;
  }

  .project-card {
    min-width: 400px !important;
    max-width: 400px !important;
    height: 400px !important;
  }
}

@media (min-width: 0px) {
  body {
    font-family: "Rubik", sans-serif;
    margin: 0;
    position: relative;
    min-width: 350px;
  }

  a {
    text-decoration: none;
    color: var(--secondary);
  }

  .content-wrap {
    padding-bottom: 179px;
  }

  .navbar {
    position: relative;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--light);
  }

  .navbar-container {
    display: flex;
    min-height: 3.25rem;
    margin: 0 3rem;
    position: relative;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .nav-link-container {
    position: relative;
    width: fit-content;
    margin: 0 1rem;
  }

  .nav-link:hover {
    font-weight: bolder;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    transform: scaleX(0);
  }

  .nav-link:hover::after {
    transform: scaleX(1);
  }

  .navbar {
    font-size: 18pt;
  }

  .home,
  .projects {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro {
    padding-top: 2rem;
  }

  .intro-headings {
    margin: 0 5rem;
  }

  .intro h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  .intro h2 {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .headshot {
    width: 210px;
    margin: 2rem 0;
  }

  .computer-container {
    height: fit-content;
  }

  .computers {
    margin-bottom: -0.25rem;
    width: 100%;
  }

  .about {
    padding: 3rem 4.5rem;
  }

  .about-container {
    padding: 0.75rem;
    text-align: left;
  }

  .about h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .about h2 {
    font-weight: lighter;
    font-size: 1.25rem;
  }

  .is-long {
    padding-bottom: 8rem;
  }

  .skillset {
    margin-top: -10rem;
    padding: 5rem 1.5rem;
  }

  .skillset ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }

  .skillset h1 {
    font-size: 1.5rem;
  }

  .skillset h2,
  .skillset p,
  .skillset li {
    font-size: 18px;
    margin: 0;
  }

  .skillset li {
    margin: 8px 0 !important;
  }

  .skillset h2 {
    color: var(--secondary);
    margin-top: 50px !important;
    margin-bottom: 8px !important;
  }

  .skillset-container {
    gap: 10px;
    background-color: var(--primary);
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px var(--light);
  }

  .skill-icon {
    width: 4rem;
  }

  .column {
    padding: 75px 40px;
  }

  .column-left {
    border-bottom: 1px solid var(--light);
  }

  .backend-development {
    grid-column: 1;
    grid-row: 1;
  }

  .frontend-development {
    grid-column: 2;
    grid-row: 1;
  }

  .projects {
    margin: 0 4rem;
  }

  .project-container {
    max-width: 80%;
    padding: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }

  .project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    position: relative;
    margin: 20px;
    min-width: 300px;
    max-width: 300px;
    flex: 50%;
    background-color: var(--blue);
    border-radius: 0.5em;
    height: 300px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px var(--light);
  }

  .project-card:hover {
    transform: scale(1.02);
  }

  .project-img-container {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
    height: 73.75%;
  }

  .project-card img {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 100%;
    height: 100%;
  }

  .project-description-container {
    width: 100%;
    text-align: center;
    color: var(--light);
  }

  .project-description-container h1 {
    font-size: 22px;
    margin-bottom: 0;
  }

  .project-description-container h2 {
    font-size: 18px;
    font-weight: normal;
    margin-top: 8px;
  }

  .blurred {
    transition: all 0.2s ease-in-out;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }

  .view-link {
    position: absolute;
    display: flex;
    padding-top: 6px;
    justify-content: space-evenly;
    top: 30%;
    left: 38%;
    border: 2px solid var(--secondary);
    min-width: 100px;
    min-height: 30px;
    text-align: center;
    border-radius: 50px;
    background-color: rgb(52, 63, 86, 0.5);
  }

  .view-link:hover {
    border: 3px solid var(--secondary);
    background-color: var(--blue);
    left: 37.75%;
    top: 29.75%;
  }

  .view-link p {
    margin: 0;
    color: var(--light) !important;
    font-size: 1.3rem;
  }

  .view-link img {
    width: 25px;
  }

  footer {
    background-color: var(--secondary);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: fit-content;
  }

  .footer-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer-copyright-container {
    flex: 60%;
    color: var(--alternate);
  }

  .footer-icon-container {
    flex: 40%;
    display: flex;
    justify-content: space-evenly;
  }

  .footer-icon {
    width: 30px;
    height: 30px;
  }

  #github-icon {
    background: transparent center/cover url("../images/github.png") no-repeat;
  }

  #github-icon:hover {
    background-image: url("../images/github-hover.png");
  }

  #linkedin-icon {
    background: transparent center/cover url("../images/linkedin.png") no-repeat;
  }

  #linkedin-icon:hover {
    background-image: url("../images/linkedin-hover.png");
  }

  #email-icon {
    background: transparent center/cover url("../images/email.png") no-repeat;
  }

  #email-icon:hover {
    background-image: url("../images/email-hover.png");
  }

  .is-secondary {
    background-color: var(--secondary);
    color: var(--primary);
  }

  .centered-container {
    display: flex;
    justify-content: center;
  }

  .has-centered-text {
    text-align: center;
  }
}
